/* sliders */
#slider{
    width:100%;
    height:350px;
}
#slider>img{
    width:100%;
    height:100%;
}
.box{
    width:100%;
    height:210px;
    display:flex;
    justify-content: space-around;
}
.box>div{
    width:11%;
    height:100%;
   
}
.box img{
    width:80%;
    display: block;
    margin: auto;
    margin-top:30px;
    margin-bottom: 10px;
}
.box p{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
#box-img{
    width:100%;
    height:200px;
    display:flex;
    justify-content: space-around;
   
}
#box-img>img{
    width:23%;
    height:80%;
    border-radius: 5px;
}
#small-slider{
    width:100%;
    height:100px;
   
    
}
#small-slider>img{
    width:80%;
    height:100%;
    display: block;
    margin: auto;
}

#yummy{
    height:400px;
    margin:30px;
}
#yummy1{
    width:98%;
    height:13%;
    display:flex;
    justify-content: space-between;
    margin-bottom:10px;
    margin: auto;
}
#yummy2{
    width:100%;
    height:75%;
    display:flex;
    justify-content: space-around;
    margin-top:20px;
}
#yummy1>h1{
    color:#424242;
}
#yummy1>a>button{
    background-color: #F50057;
    border:none;
    color:white;
    padding: 13px;
    font-size: 20px;
    border-radius: 10px;
}
#yummy2>div{
    width:23%;
    height:100%;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#yummy2>div>img{
    width:100%;
    height:78%;
    border-radius: 10px;
}
#flexbox{
    width:100%;
    height:15%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#flexbox>div:nth-child(1)>p{
    font-size: 14px;;
}
#flexbox>div:nth-child(2)>img{
    width:30px;
    height: 30px;
}
#photo{
    width:95%;
    height:350px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 30px;
}
#photo>img{
    width:48%;
    height:100%;
    border-radius: 10px;
}

#newbox{
    width:95%;
    height:80px;
    margin: auto;
    display:flex;
    justify-content: space-around;
}
#newbox>div{
   display:flex;
   justify-content: space-between;
   width:22%;
   
}
#newbox>div>img{
    width:40%;
    height:90%;
}
#newbox>div>div{
    margin: auto;
}
#newbox>div>div>h3:nth-child(1){
    color:#F50057
}

#bakery{
    width:100%;
    height:300px;
    margin-bottom:30px;
}
#bakery>img{
    width:100%;
    height:100%;
}

#last-div{
    width:95%;
    height:230px;
    margin-bottom: 20px;
    margin: auto;
}
#last-div>h1{
    text-align: center;
    color:#424242;
}
#last-div>div{
    display: flex;
    justify-content: space-around;
  margin-left:50px;
}
#last-div>div>div>img{
    width:70%;
    height:70%;
    
}
#last-div>div>div>p{
    text-align: center;
    margin-left:-50px;
}
#last-div>div>div>img:nth-child(6){
    width:60%;
    height:60%;
}
/* footer css */

#heading{
    text-align: center;
    font-size:22px;
    color:#757575;
    margin-bottom: 5px;;
}
#para{
    font-size: 14px;
    color:#757575;
}
#bluebox{
    width:100%;
    height:450px;
    background-color:#1A237E;
    
    margin-top:20px;
}
#left{
    width:35%;
    height:25%;
   
    float:left;
    background-color:#1A237E; ;
}
#left>div{
    width:100%;
    height:100%;
    background-color:#1A237E;
}
#left>div>a{
    background-color:#1A237E;
}
#left>div>a>img{
    width:40%;
    margin-top: 20px;
    margin-left: 20px;
}
#right{
    width:35%;
    height:25%;
   
    float:right;
    background-color:#1A237E; ;
}
#right>p{
    background-color:#1A237E; ;;
    margin-top:20px;
    font-size: 15px;
    color:white;
}
#right>div{
    display: flex;
    
}
#right>div>div{
    font-size: 20px;
    margin-right:40px;
}
#footer-link{
    
    width:100%;
    height:50%;
    display: flex;
    margin-top:20px;
    background-color:#1A237E;
    justify-content: space-between;
}
#footer-link>div{
    width:15%;
    height:80%;
    
    background-color:#1A237E;
    padding: 20px;;
}
#footer-link>div>a{
    text-decoration: none;
    background-color:#1A237E;
    font-size: 15px;
    font-weight: 700;
   color: #1E88E5;
   display: block;
   margin-bottom: 5px;;
}
#line1{
    width:100%;
    height:1px;
    background-color: #1E88E5;
}
#end{
    width:100%;
    height:25%;
    background-color:#1A237E ;
    border:1px solid white;
    display: flex;
    justify-content: space-around;
}
#end>div{
    background-color:#1A237E 
}
#end>div>img{
    background-color:#1A237E 
}
#end>div>p{
    background-color:#1A237E 
}
#end>div{
    width:15%;
    margin: auto;
    display: flex;

}
#end img{
    width:20px;
}
#end>div>p{
    margin-left:10px;
    color:#1E88E5;
}
